moviepy
peewee
pydub
requests
-e git+https://github.com/RoyXiang/python-telegram-bot.git@3516113#egg=python-telegram-bot==6.0.1
xmltodict
Pillow
python_magic
-e git+https://github.com/RoyXiang/ItChat.git@e587539#egg=itchat==1.3.6
pyqrcode
