-e git+https://github.com/RoyXiang/ItChat.git@v1.3.8-mod#egg=itchat
-e git+https://github.com/RoyXiang/python-telegram-bot.git@v6.1.0-mod#egg=python-telegram-bot
moviepy>=0.2.3.1
peewee
Pillow>=4.0.0
pydub
pyqrcode
python-magic
requests
xmltodict
